* {
    box-sizing: border-box; /* Garante que o padding não estoure o tamanho dos elementos */
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Permite rolagem caso a tela seja muito baixa */
    background: linear-gradient(135deg, #014b07 0%, #026e0b 100%);
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}

.login {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 320px;
    color: #FFF;
    text-align: center;
}

/* Aplica o estilo de largura e padding APENAS nos campos de texto/senha */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 4px; 
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.botao-login {
    background: #FFF;
    color: #6A11CB;
    padding: 12px;
    border: none;
    border-radius: 25px;
    width: 100%;
    cursor: pointer; /* altera o formato do ponteiro do mouse para o ícone de uma mãozinha com o dedo apontado quando o usuário passa o cursor por cima */
    font-weight: bold;
    margin-top: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 15px;
}

.lembrar-me {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre a caixa de checkbox e o texto */
    cursor: pointer; /* altera o formato do ponteiro do mouse para o ícone de uma mãozinha com o dedo apontado quando o usuário passa o cursor por cima */
    white-space: nowrap; /* Impede a quebra de linha no Lembre-me */
}

/* Restaura o tamanho padrão do checkbox */
.lembrar-me input[type="checkbox"] {
    width: auto;
    margin: 5px;
    cursor: pointer; /* altera o formato do ponteiro do mouse para o ícone de uma mãozinha com o dedo apontado quando o usuário passa o cursor por cima */
}

.esqueci-senha {
    text-decoration: underline;
    margin-right: 5px;
    white-space: nowrap; /* Impede a quebra de linha no Lembre-me */
}

.esqueci-senha:hover { /* Quando passa o mouse por cima do link muda para cor configurada. */
    color: #DDD;
}

.registro {
    font-size: 12px;
    margin-top: 15px;
}

.link-registro {
    color: #FFF;
    text-decoration: underline;
}

.link-registro:hover {
    color: #DDD
}

a {
    color: #FFF;
    text-decoration: none;
}