/* ==========================================================================
   2. Metodologia BEM: Bloco Principal (.login-card)
   ========================================================================== */
.tela-login {
    width: 90%;
    max-width: 320px;
    padding: 40px 30px;
    background: rgba(255, 255, 255, 0.1); /* Fundo branco com 10% de opacidade (semitransparente). */
    backdrop-filter: blur(10px); /* Aplica o efeito de vidro fosco desfocando o fundo atrás do cartão. */
    border-radius: 20px; /* Arredonda os cantos da caixa. */
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5); /* Aplica uma sombra suave abaixo do cartão. */
}

.tela-login__title {
    margin-bottom: 20px;
    font-size: 1.8rem; /* Define o tamanho da fonte proporcional à raiz. */
    font-weight: 600; /* Torna o título semi-negrito. */
}

/* ==========================================================================
   3. Elementos do Formulário (.login-card__*)
   ========================================================================== */


/* Container de opções (Checkbox e Esqueci minha senha) */
.tela-login__opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 11px;
}

.tela-login__checkbox-label {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre a caixinha do checkbox e o texto. */
    cursor: pointer; /* Mostra o ícone de mãozinha interativa. */
    white-space: nowrap; /* Força o texto a ficar em uma linha só sem quebrar. */
}

.tela-login__checkbox {
    margin-left: 5px;
    cursor: pointer;
    accent-color: #023110; /* Modifica a cor nativa de marcação do checkbox para roxo. */
}

/* ==========================================================================
   4. Modificadores e Links (.login-card__link--*)
   ========================================================================== */
.tela-login__link {
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.tela-login__link--esqueceu {
    margin-right: 5px;
}

.tela-login__link--esqueceu,
.tela-login__link--registro {
    text-decoration: underline;
    font-weight: bold;
}

.tela-login__link:hover {
    color: #dddddd;
}

.tela-login__footer {
    margin-top: 15px;
    font-size: 12px;
}